<header class="header">
  <nav>
    <div class="logo">
      <a *ngIf="isAuthenticated" routerLink="/users-projects" class="logo-link">
        <h1>Trello</h1>
      </a>
      <h1 *ngIf="!isAuthenticated" class="logo-link">Trello</h1>
    </div>           
    <ul class="nav-links">
     
      <li *ngIf="isManager">
        <a routerLink="/add-projects" class="button">Add project</a>
      </li>

      <li *ngIf="isMember">
        <a routerLink="/notifications-user">
          <img src="assets/notification.png" alt="Notifications" class="profile-image">
        </a>
      </li>

      <li *ngIf="isAuthenticated">
        <a routerLink="/users-profile">
          <img src="assets/profile.png" alt="User Profile Picture" class="profile-image">
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="logout()" class="button">Logout</a>
      </li>
    </ul>
  </nav>
</header>
