<header class="header">
    <nav>
        <div class="logo">
            <a routerLink="/projects-list" class="logo-link">
                <h1>Trello</h1>
            </a>
        </div>        
        <ul class="nav-links">
            <li><a routerLink="/add-projects" class="button">Add project</a></li>
            <li><a routerLink="/delete-account" class="button delete-btn">Delete Account</a></li>
            <li><a routerLink="/users-profile"><img src="assets/profile.png" alt="User Profile Picture" class="profile-image"></a></li>
            <li><a (click)="logout()" class="button">Logout</a></li>
        </ul>
    </nav>
  </header>
  