<div class="project-list">
  <h2 class="project-list-title">Project List</h2>
  <div class="project-cards">
    <div *ngFor="let project of projects" class="project-card" (click)="openDetails(project)">
      <h3 class="project-card-title">{{ project.name }}</h3>
      <p><strong>End Date:</strong> {{ project.expectedEndDate | date: 'shortDate' }}</p>
      <p><strong>Min Members:</strong> {{ project.minMembers }}</p>
      <p><strong>Max Members:</strong> {{ project.maxMembers }}</p>
    </div>
  </div>
</div>
