.container {
    max-width: 400px;
    margin: 100px auto 0; /* Gornja margina postavlja koliko je kartica spuštena */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #F8ECD1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  body {
    background-color: #f8ecd1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Postavlja karticu prema vrhu stranice */
    height: 100vh;
    margin: 0;
  }
  
  h2 {
    text-align: center;
    color: #85586F;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  input:focus {
    border-color: #85586F;
    outline: none;
    box-shadow: 0 0 5px rgba(133, 88, 111, 0.5); 
  }
  
  
  input:focus {
    border-color: #85586F;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    background-color: #85586F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #AC7D88;
  }
  
  
  div.error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
  }
  
  