<div class="card">
  <h3>Select Members to Add</h3>

  <p *ngIf="successMessage" class="notification success">{{ successMessage }}</p>

  <p *ngIf="errorMessage" class="notification error">{{ errorMessage }}</p>

  <ul class="member-list">
    <li *ngFor="let member of members">
      <label>
        <input type="checkbox" [(ngModel)]="member.selected">
        {{ member.name }} ({{ member.role }})
      </label>
    </li>
  </ul>
  <button (click)="addSelectedMembers()">Add Members</button>
</div>

