<p *ngIf="successMessage" class="notification success">{{ successMessage }}</p>
<p *ngIf="errorMessage" class="notification error">{{ errorMessage }}</p>
<div *ngIf="showDeleteConfirmation" class="modal-overlay">
  <div class="modal">
    <p>Are you sure you want to delete the project?</p>
    <div class="modal-actions">
      <button (click)="deleteProject()" class="action-button confirm-delete-btn">Delete</button>
      <button (click)="cancelDelete()" class="action-button cancel-delete-btn">Cancel</button>
    </div>
  </div>
</div>
<div *ngIf="project" class="project-details-container">
  <div class="project-details">
    <h2>{{ project.name }}</h2>
    <p><strong>Expected End Date:</strong> {{ project.expectedEndDate | date: 'shortDate' }}</p>
    <p><strong>Min Members:</strong> {{ project.minMembers }}</p>
    <p><strong>Max Members:</strong> {{ project.maxMembers }}</p>
    <button (click)="goBack()" class="action-button">Back</button>
    <button *ngIf="isManager" (click)="confirmDelete()" class="action-button delete-button">Delete Project</button>

    <div *ngIf="tasks && tasks.length > 0" class="task-list">
      <h3>Tasks for this Project:</h3>
      <ul>
        <li *ngFor="let task of tasks">
          <div class="task-card">
            <strong>{{ task.title }}</strong>
            <p>{{ task.description }}</p>
            <p>Status: {{ task.status }}</p>

            <button *ngIf="isManager" (click)="openAddMembersToTask(task.id)" class="action-button add-member-btn">
              Add Member to Task
            </button>

            <button *ngIf="isAuthenticated" (click)="viewMembersToTask(task.id)" class="action-button view-members-btn">
              View Members
            </button>

            <!-- Dropdown za promenu statusa -->
            <div class="status-container" *ngIf="isMember">
              <label for="statusDropdown" class="status-label">Change Status:</label>
              <select
                id="statusDropdown"
                class="status-dropdown"
                [(ngModel)]="task.status"
                (focus)="onStatusChangeStart(task)"
                (change)="updateTaskStatus(task)"
              >
                <option value="Pending">Pending</option>
                <option value="In progress">In progress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>

          <div *ngIf="isManager" class="dependency-dropdown">
          <label for="dependencySelect-{{ task.id }}">Depends on:</label>
          <select
            id="dependencySelect-{{ task.id }}"
            [(ngModel)]="task.dependsOn"
            (change)="setDependency(task.id, task.dependsOn)"
          >
            <option [ngValue]="null">-- Select task --</option>
            <option
              *ngFor="let otherTask of tasks"
              [ngValue]="otherTask.id"
              [disabled]="otherTask.id === task.id"
            >
              {{ otherTask.title }}
            </option>
          </select>
          </div>
          <div *ngIf="task.dependencies?.length > 0" class="task-dependencies">
            <p><strong>Depends on:</strong></p>
            <ul>
              <li *ngFor="let dep of task.dependencies">{{ dep.name }}</li>
            </ul>
          </div>          
          </div>
        </li>
      </ul>
    </div>



    <div *ngIf="showGraphButton && isManager">
  <button (click)="toggleGraphVisibility()" class="action-button">
    {{ graphVisible ? 'Hide' : 'Show' }} Workflow Graph
  </button>
    <div *ngIf="graphVisible">
  <ngx-graph
    [links]="graphLinks" 
    [nodes]="graphNodes" 
    [layout]="layout" 
    [curve]="curve" 
    [enableZoom]="true" 
    [autoZoom]="true" 
    [zoomSpeed]="0.1"
    class="graph-container"
  >
    <ng-template #defsTemplate>
  <svg:defs>
    <svg:marker
      id="arrowhead"
      viewBox="0 0 10 10"
      refX="10"
      refY="5"
      markerWidth="6"
      markerHeight="6"
      orient="auto">
      <svg:path d="M 0 0 L 10 5 L 0 10 z" fill="#85586F"/>
    </svg:marker>
  </svg:defs>
</ng-template>


<ng-template #linkTemplate let-link>
  <svg:g class="edge">
    <svg:path 
      class="line" 
      stroke-width="3" 
      [attr.d]="link.line" 
      stroke-width="2"
      stroke="#000"
      [attr.marker-end]="'url(#arrowhead)'">
    </svg:path>
  </svg:g>
</ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g>
        <svg:rect
          [attr.width]="120"
          [attr.height]="40"
          x="-60"
          y="2"
          rx="30"
          ry="30"
          class="node"
        ></svg:rect>
        <svg:text class="node-label" text-anchor="middle" y="18" font-size="35" >
          {{ node.label }}
        </svg:text>
        <svg:text class="node-description" text-anchor="middle" y="33" font-size="12" fill="#333">
      Description: {{ node.description }}
    </svg:text>     
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
</div>




    <div class="action-buttons">
      <button *ngIf="isManager" (click)="addTask()" class="action-button">Add Task</button>
      <button *ngIf="isManager" (click)="viewMembers()" class="action-button">View Members</button>
      <button *ngIf="isManager" (click)="addMember()" class="action-button">Add Member</button>
    </div>
  </div>
</div>
